{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-10 mx-auto">
        <h1 class="mb-4">Schedule an Appointment</h1>

        <div class="cal-embed-container" style="min-height: 800px; width: 100%;">
            <!-- Cal inline embed code -->
            <cal-inline-widget src="https://cal.com/jacobo-s.-carballada-vbmhib/" style="min-width:320px;height:100%;"></cal-inline-widget>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://app.cal.com/embed.js"></script>
{% endblock %}